@if (_contentLoaded)
{
	@ChildContent
}
else
{
	<div style="position: absolute; text-align: center; top: 30vh; width: 100%;">
		<SfSpinner Label="Please wait while the page is loading&hellip;" Size="140" Type="SpinnerType.Fluent" Visible="true"></SfSpinner>
	</div>
}