@page "/p2"
@inject Container ContainerObj

<h3>@(ContainerObj.InstanceID.ToString())</h3>

@code {
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			// await General.SetValues("Some Value P2");
		}
		await base.OnAfterRenderAsync(firstRender);
	}

}