@using Syncfusion.Blazor.Cards

<SfCard class="@($"kpi-card {CssClass}")">
	<CardContent>
		<div class="kpi-content">
			<div class="kpi-icon">
				<i class="@IconClass"></i>
			</div>
			<div class="kpi-details">
				<div class="kpi-value">@Value</div>
				<div class="kpi-label">@Label</div>
			</div>
		</div>
	</CardContent>
</SfCard>
