@page "/login"
@using LabelPosition = Syncfusion.Blazor.Buttons.LabelPosition
@layout SubscriptionLayout

<PageHeader />

<EditForm Model="@LoginModel" OnValidSubmit="ValidateLogin" @ref="LoginForm">
	<div class="grid-container">
		<div class="header">Login</div>
		<div class="left">
			&nbsp;
		</div>
		<div class="right">
			&nbsp;
		</div>
        <div class="left">
            <label for="textUserName">User Name:</label>
        </div>
        <div class="right">
            <SfTextBox Autocomplete="AutoComplete.On" @bind-Value="LoginModel.UserName" ID="textUserName" Placeholder="Enter User Name" Type="InputType.Text" Width="90%"></SfTextBox>
        </div>
        <div class="left">
			<label for="textPassword">Password:</label>
		</div>
		<div class="right">
			<SfTextBox Autocomplete="AutoComplete.Off" @bind-Value="LoginModel.Password" ID="textPassword" Placeholder="Enter Password" Type="InputType.Password" Width="90%"></SfTextBox>
		</div>
		<div class="left">&nbsp;</div>
		<div class="right">
			<SfCheckBox @bind-Checked="LoginModel.RememberMe" Indeterminate="false" Label="Remember Me for 14 days?" LabelPosition="LabelPosition.After"></SfCheckBox>
		</div>
		<div class="footer">
			<button class="button">Button 1</button>
			<button class="button">Button 2</button>
		</div>
	</div>
</EditForm>