<SfDialog Header="@($"{Title} Notes")" Height="290px" IsModal="true" MinHeight="230px" @ref="Dialog" Target="#divTarget" Visible="false" Width="480px">
	<ChildContent>
		<SfSpinner CssClass="spinnerHeight" @ref="Spinner" Type="SpinnerType.Fabric" ZIndex="12000" />
		<DialogPositionData X="right" Y="center" />
		<DialogAnimationSettings Duration="500" Effect="DialogEffect.SlideRight" />
		<DialogEvents OnOpen="OpenDialog"></DialogEvents>
		<EditForm Model="Model" OnValidSubmit="SaveNotesDialog" @ref="EditNotesForm">
			<FluentValidationValidator />
			<div class="divContainerTable">
				<TextBoxControl @bind-Value="@(Model.Notes)" @bind-Value:event="ValueChanged" ID="textNotes" MaxLength="1000" MinLength="1" Multiline="true" Placeholder="@($"{Entity} Notes")"
								Rows="5" ValidationMessage="@(() => Model.Notes)" />
			</div>
			<DialogFooter CancelMethod="CancelNotesDialog" @ref="FooterDialog" />
		</EditForm>
	</ChildContent>
</SfDialog>